html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: scroll;
    font-family: "arrow";
    letter-spacing: -.2px;
    font-weight:300;
    background-color: #fff;
}

::-webkit-scrollbar { 
    display: none; 
}

@font-face {
  font-family: arrow;
  src: url(img/arrow.otf);
}



/* Article styles, just for the demo, don't have anything to do with the transition */




/* BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1   */



@media screen and (min-width:900px){




.header {
    position: fixed;
    font-size: 3.2vw;
    width: 100%;
    letter-spacing: -.1;
    line-height: 3.5vw;
    top:-1.6vw;
    mix-blend-mode: exclusion;
    color: white;
}


.name{
  float:left;
  display:inline; 
  width:60%;
}

.info{
  float:right;
  display:inline; 
  width:40%;
  text-align: right;
}

.info p{
    padding-right: 1.7vw;
}
.name p{
    padding-left: 1.7vw;
}

a {
  color:inherit;
  text-decoration: none;
    position: relative;

}

a:after{    
    transform: scaleX(0);  
    transition: all 0.3s ease;
    transform-origin: 100% 50%;}


a:visited {
    color: inherit;
}


a:hover:after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom: 1px;                   
    border-bottom: 2px solid #fff;  
  transform: scaleX(1); 
  transform-origin:   0% 50%; 
}




#checker{
    margin-top: 31vh;
}


#headerimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


#header{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:100px;
}



#cookie {
    width: 18%; 
    aspect-ratio : 18 / 20;
    float: left;
    background-color: #DADADA;
}

#div1 {
    width: 20%; 
    aspect-ratio : 1 / 1;
    float: left;
}

#div2 {
    width: 50%;
    aspect-ratio : 16 / 9;
    float: left;

}


#div3 {
    width: 20%; 
    aspect-ratio : 4 / 5;
    float: left;
}

#div4 {
    width: 20%; 
    aspect-ratio : 1 / 2;
    float: left;
}

#div5 {
    width: 20%; 
    aspect-ratio : 2 / 1;
    float: left;
}

#div6 {
    width: 60%; 
    float: left;
    margin-left: 40%;
}

#div7 {
    width: 70%; 

    float: left;
    margin-left: 15%;
}

#div8 {
    width: 48%; 
    float: left;
    margin-left: 26%;
}


#div9 { 
    width: 20%; 
    aspect-ratio : 9 / 16;
    float: left; 

}

#div10 { 
    width: 20%;
    aspect-ratio : 9 / 16; 
    float: left; 

}


#div11 { 
    width: 60%;
    aspect-ratio: 400 / 103;
    float: left; 

}

#div12 { 
    width: 42%; 
    aspect-ratio : 27 / 23;
    float: left; 

}


#div13 { 
    width: 20%; 
    aspect-ratio : 6 / 5;
    float: left; 

}


#div14 { 
    width: 26%; 
    aspect-ratio : 4 / 5;
    float: left; 

}

#div15 { 
    width: 40%; 
    aspect-ratio : 1 / 1;
    float: left; 
    padding-left: 30%;

}



#div16 { 
    width: 31%; 
    aspect-ratio : 1 / 1;
    float: left; 

}

#div17 { 
    width: 26%; 
    aspect-ratio : 1 / 1;
    float: left; 

}

#div18 { 
    width: 16%; 
    aspect-ratio : 4 / 5;
    float: left; 

}

#div19 { 
    width: 36%; 
    aspect-ratio : 4 / 3;
    float: left; 
    padding-left:13%;
}


#div20 { 
    width: 18%; 
    aspect-ratio : 2 / 3;
    float: left; 
    padding-left:13%;

}

#div21 { 
    width: 24%; 
    aspect-ratio : 11 / 10;
    float: left; 
    padding-left:13%;

}


#div22 {
    width: 40%; 
    aspect-ratio : 2 / 1;
    float: left;
}

#div60 { 
    width: 100%; 
    float: left; 
}

#div60 p{
    text-align: center;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 8vh;
    font-size: 2vw;
    letter-spacing: -.1;
    line-height: 2.5vw;
}



#padding { 
    width: 11%;
    height:26vw;
    float: left; 

}



#padding2 { 
    width: 8%;
    height:30vw;
    float: left; 

}


#padding_narrow { 
    width: 6.666666666666%;
    height:20vw;
    float: left; 

}

#padding2 { 
    width: 2%;
    height:20vw;
    float: left;

}


#padding_horizontal{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:100px;
}

#space_between_projects{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:150px;
}

.text{
    display: none;
}

.featured_image {
  background-color: #fff;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured_image img, .featured_image video {

    object-fit: cover;
}

img{
overflow-clip-margin: content-box;
    overflow: clip;
}

video{
overflow-clip-margin: content-box;
    overflow: clip;
}



.post img{
    width:100%;
}

.post video{
   width:100%;
}


.description{
    padding-top: 10px;
    text-align: left;
    font-size: 13px; 
    line-height: 16px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    color: #a1a1a1;

}

footer{
    text-align: center;
    font-size: 14px; 
    line-height: 16px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    padding-bottom: 8px;
}



}

   


/* BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2   */

@media screen and (max-width: 899px) and (min-width: 600px){

.header {
    position: fixed;
    font-size: 32px;
    width: 100%;
    letter-spacing: -.1;
    line-height: 35px;
    top:-18px;
    z-index: 1;
    mix-blend-mode: exclusion;
    color: white;
}



.name{
  float:left;
  display:inline; 
  width:50%;
}

.info{
  float:right;
  display:inline; 
  width:50%;
  text-align: right;
}

.info p{
    padding-right: 20px;
}
.name p{
    padding-left: 20px;
}

a {
  color:inherit;
  text-decoration: none;
    position: relative;

}

a:after{    
    transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
transform-origin: 100% 50%;}


a:visited {
    color: inherit;
}


a:hover:after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom: 1px;                   
    border-bottom: 1.5px solid #fff;  

  transform: scaleX(1); 
  transform-origin:   0% 50%; 
}




#checker{
    margin-top: 31vh;
}

.text{
    display: none;
}




.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2.8vw;
    display: inline-block;
}

#div60 { 
    width: 100%;  
    float: left; 
}

#div60 p{
    text-align: center;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 80px;
    font-size: 24px;
    letter-spacing: -.1;
    line-height: 28px;
}



.description{
    padding-top: 8px;
    text-align: left;
    font-size: 12px; 
    line-height: 15px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    color: #a1a1a1;
}

footer{
    text-align: center;
    font-size: 12px; 
    line-height: 16px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    padding-bottom: 8px;
}



}




/* BREAKPOINT 3 BREAKPOINT 3 BREAKPOINT 3 BREAKPOINT 3 MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */

@media screen and (max-width: 599px) and (min-width: 20px){

.header {
    position: fixed;
    font-size:28px;
    width: 100%;
    letter-spacing: -.1;
    line-height: 32px;
    top:-12px;
    z-index: 1;
    mix-blend-mode: exclusion;
    color: white;
}

.name_mobile{
    position: absolute;
    font-size:38px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    padding-top:5vh;
}

.name{
    display: none;
}

.info{

  display:inline; 
  width: 100%;
  text-align: center;
}

.info p{
    padding-right: 20px;
    padding-left: 20px;
}
.name_mobile p{
    padding-right: 20px;
    padding-left: 20px;
}

a {
  color:inherit;
  text-decoration: none;
    position: relative;
}

a:after{    
    transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
transform-origin: 100% 50%;}

a:visited {
    color: inherit;
}

a:hover:after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom: 1px;                   
    border-bottom: 1.5px solid #fff;  

  transform: scaleX(1); 
  transform-origin:   0% 50%; 
}

#checker{
    margin-top: 50px;
}

.text{
    color:#000;
    font-size: 26px;
    width: 100%;
    letter-spacing: -.1;
    line-height:30px;
    text-align: center;
    font-size:38px;
    line-height: 40px;
    padding-top: 50px;
}

#div1{
    width: 100%;
    float: left;
    position:relative;
}

#div2 { 
    font-size: 36; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    float: left;
    color:#000;
    display: inline-block;
    width:100%;
}

.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2.8vw;
    display: inline-block;
}

#div60 { 
    width: 100%;  
    float: left; 
}

#div60 p{
    text-align: center;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 21px;
    letter-spacing: -.1;
    line-height: 26px;
}



.description{
    padding-top: 8px;
    text-align: left;
    font-size: 12px; 
    line-height: 15px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    color: #a1a1a1;
}


footer{
    text-align: center;
    font-size: 12px; 
    line-height: 16px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    padding-bottom: 8px;
}

}