html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: scroll;
    font-family: "arrow";
    letter-spacing: -.2px;
    font-weight:300;

background-color: #fff;
}

::-webkit-scrollbar { 
    display: none; 
}

@font-face {
  font-family: arrow;
  src: url(img/arrow.otf);
}








/* BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1   */



@media screen and (min-width:900px){


/* HEADER & NAV  */

.header {
    position: fixed;
    font-size: 3.2vw;
    width: 100%;
    letter-spacing: -.1;
    line-height: 3.5vw;
    top:-1.6vw;
    z-index: 1;
    mix-blend-mode: exclusion;
    color: white;
}

.name_mobile{
    display: none;
}

.name{
  float:left;
  display:inline; 
  width:60%;
}

.info{
  float:right;
  display:inline; 
  width:40%;
  text-align: right;
}

.info p{
    padding-right: 1.7vw;
}
.name p{
    padding-left: 1.7vw;
}



/* IMAGE GRID */

#checker{
    margin-top: 31vh;
}

.featured_image {
  background-color: #fff;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured_image img, .featured_image video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img{
overflow-clip-margin: content-box;
    overflow: clip;
}

video{
overflow-clip-margin: content-box;
    overflow: clip;
}

#div1 {
    width: 20%; 
    height: 23%; 
    float: left;
}

#div2 { 
    width: 20%; 
    height: 23%; 
    float: left;
    overflow:scroll;
}

#div3 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div4 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div5 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
    color:white;
}

#div6 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div7 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div8 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div9 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div10 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div11 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div12 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div13 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div14 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}

#div15 { 
    width: 20%; 
    height: 23%; 
    float: left; 
    overflow:scroll;
}



/* HOVER STATES AND LINK BEHAVIOR */

#div1 .featured_image:hover{
      cursor: url(img/cursors/logo_warby.svg), auto;
}

#div3 .featured_image:hover{
      cursor: url(img/cursors/logo_casper.svg), auto;
}

#div5 .featured_image:hover{
      cursor: url(img/cursors/logo_op.svg), auto;
}

#div7 .featured_image:hover{
      cursor: url(img/cursors/logo_ba.svg), auto;
}

#div9 .featured_image:hover{
      cursor: url(img/cursors/logo_nyr.svg), auto;
}

#div11 .featured_image:hover{
      cursor: url(img/cursors/logo_ad.svg), auto;
}

#div13 .featured_image:hover{
      cursor: url(img/cursors/logo_vog.svg), auto;
}

#div15 .featured_image:hover{
      cursor: url(img/cursors/logo_wir.svg), auto;
}

.featured_image:hover {
     -webkit-filter: brightness(2%);
    transition: all 0.3s ease;
}

a {
  color:inherit;
  text-decoration: none;
    position: relative;
}

a:after{    
    transform: scaleX(0);  
    transition: all 0.3s ease;
    transform-origin: 100% 50%;}

a:visited {
    color: inherit;
}

a:hover:after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom: 1px;                   
    border-bottom: 2px solid #fff;  
    transform: scaleX(1); 
    transform-origin:   0% 50%; 
}




.text{
    color: #fff;
    opacity:0;
    position: relative;
    text-align: center;
    bottom: 48;
}

}



/* BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2   */


@media screen and (max-width: 899px) and (min-width: 600px){


/* HEADER & NAV  */

.header {
    position: fixed;
    font-size: 32px;
    width: 100%;
    letter-spacing: -.1;
    line-height: 35px;
    top:-18px;
    z-index: 1;
    mix-blend-mode: exclusion;
    color: white;
}

.name_mobile{
    display: none;
}

.name{
  float:left;
  display:inline; 
  width:50%;
}

.name p{
    padding-left: 20px;
}

.info{
  float:right;
  display:inline; 
  width:50%;
  text-align: right;
}

.info p{
    padding-right: 20px;
}


/* IMAGE GRID */

#checker{
    margin-top: 31vh;
}

.featured_image {
  background-color: #f5f5f5;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured_image img, .featured_image video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img{
overflow-clip-margin: content-box;
    overflow: clip;
}

video{
overflow-clip-margin: content-box;
    overflow: clip;
}

#div1 {
    width: 50%; 
    height: 20%; 
    float: left;
}

#div2 { 
    width: 50%; 
    height: 20%; 
    float: left;
    overflow:scroll;
}

#div3 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
    padding-left: 50%;
}

#div4 { 
    width: 0%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div5 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
    color:white;
}

#div6 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div7 { 
    width: 50%; 
    padding-left: 50%;
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div8 { 
    width: 0%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div9 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div10 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div11 { 
    width: 50%;
    padding-left: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div12 { 
    width: 0%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div13 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div14 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div15 { 
    width: 50%; 
    padding-left: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}



/* HOVER STATES AND LINK BEHAVIOR */

#div1 .featured_image:hover{
      cursor: url(img/cursors/logo_op.svg), auto;
}

#div3 .featured_image:hover{
      cursor: url(img/cursors/logo_casper.svg), auto;
}

#div5 .featured_image:hover{
      cursor: url(img/cursors/logo_koala.svg), auto;
}

#div7 .featured_image:hover{
      cursor: url(img/cursors/logo_ba.svg), auto;
}

#div9 .featured_image:hover{
      cursor: url(img/cursors/logo_nyr.svg), auto;
}

#div11 .featured_image:hover{
      cursor: url(img/cursors/logo_ad.svg), auto;
}

#div13 .featured_image:hover{
      cursor: url(img/cursors/logo_vog.svg), auto;
}

#div15 .featured_image:hover{
      cursor: url(img/cursors/logo_wir.svg), auto;
}

.featured_image:hover {
     -webkit-filter: brightness(2%);
    transition: all 0.3s ease;
}

a {
    color:inherit;
    text-decoration: none;
    position: relative;
}

a:after{    
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;}


a:visited {
    color: inherit;
}

a:hover:after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom: 1px;                   
    border-bottom: 1.5px solid #fff;  
    transform: scaleX(1); 
    transform-origin:   0% 50%; 
}

}



/* BREAKPOINT 3 BREAKPOINT 3 BREAKPOINT 3 BREAKPOINT 3 MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */


@media screen and (max-width: 599px) and (min-width: 20px){

.header {
    position: fixed;
    font-size:28px;
    width: 100%;
    letter-spacing: -.1;
    line-height: 32px;
    top:-12px;
    z-index: 1;
    mix-blend-mode: exclusion;
    color: white;
}

.name_mobile{
    position: absolute;
    font-size:38px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    padding-top:44px;
}

.name_mobile p{
    padding-right: 20px;
    padding-left: 20px;
}

.name{
    display: none;
}

.info{
  display:inline; 
  width: 100%;
  text-align: center;
}

.info p{
    padding-right: 20px;
    padding-left: 20px;
}



/* IMAGE GRID */

#checker{
    margin-top: 286px;
}

.featured_image img, .featured_image video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featured_image {
  background-color: #f5f5f5;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

img{
overflow-clip-margin: content-box;
    overflow: clip;
}

video{
overflow-clip-margin: content-box;
    overflow: clip;
}

#div1 {
    width: 50%; 
    height: 20%; 
    float: left;
}

#div2 { 
    width: 50%; 
    height: 20%; 
    float: left;
    overflow:scroll;
}

#div3 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
    padding-left: 50%;
}

#div4 { 
    width: 0%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div5 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
    color:white;
}

#div6 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div7 { 
    width: 50%; 
    padding-left: 50%;
    height: 20%; 
    float: left; 
    overflow:scroll;

}

#div8 { 
    width: 0%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div9 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div10 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div11 { 
    width: 50%;
    padding-left: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div12 { 
    width: 0%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div13 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div14 { 
    width: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}

#div15 { 
    width: 50%; 
    padding-left: 50%; 
    height: 20%; 
    float: left; 
    overflow:scroll;
}



/* HOVER STATES AND LINK BEHAVIOR */

a {
  color:inherit;
  text-decoration: none;
    position: relative;
}

a:after{    
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

a:visited {
    color: inherit;
}

a:hover:after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom: 1px;                   
    border-bottom: 1.5px solid #fff;  
    transform: scaleX(1); 
    transform-origin: 0% 50%; 
}

}

